.btnDefault {
    color: var(--color-white);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6496rem;

    display: inline-flex;
    height: 3rem;
    padding: 0rem 1.3959rem;
    justify-content: center;
    align-items: center;
    gap: 0.6345rem;
    flex-shrink: 0;
    cursor: pointer;

    border-radius: 0.2538rem;
    border: 0.0761rem solid var(--color-primary);
    background: var(--color-primary);
    transition: 0.3s;

    &:hover {
        border: 0.0761rem solid var(--color-primary-focus);
        background: var(--color-primary-focus);
    }

    &:focus {
        border: 0.0761rem solid var(--color-primary-focus);
        background: var(--color-primary-focus);
    }
}

.btnNegative {
    color: var(--color-white);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6496rem;

    display: inline-flex;
    height: 3rem;
    padding: 0rem 1.3959rem;
    justify-content: center;
    align-items: center;
    gap: 0.6345rem;
    flex-shrink: 0;
    text-decoration: none;

    border-radius: 0.25rem;
    border: 0.0761rem solid var(--color-primary-Disable, #59323F);
    background: var(--color-primary-Disable, #59323F);

    cursor: pointer;
    transition: 0.3s;

    &:disabled {
        border: 0.0761rem solid var(--color-grey-1);
        background: var(--color-grey-1);
    }

    &:hover {
        border: 0.0761rem solid var(--color-grey-2);
        background: var(--color-grey-2);
    }
}

@media (min-width:12.5rem) and (max-width:89.375rem) {

    .btnDefault,
    .btnNegative {
        height: 2.5rem;
        padding: 0rem 1.3959rem;
    }

}