.container {

    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    &.sm {
        max-width: 470px;
        margin-left: 30px;
    }
}

.containerUser {
    padding-top: 3rem;
    width: 100%;
    max-width: 1440px;
    height:100%;
    max-height:520px;
    display: flex;

    align-items: center;
    flex-direction: column;
    gap: 2rem;
    
}