.container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.word {
    color: var(--color-white);
}

.button {
    position: absolute;
    top: 1.5625rem;
    left: 17.5rem;
    color: var(--color-grey-1);
    padding: 0.25rem;
}

@media (max-width: 43.75rem) {
    .button {
        position: absolute;
        top: 1.5625rem;
        right: auto;
        color: var(--color-grey-1);
        padding: 0.25rem;
    }
}